{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet" media="screen">
</head>
<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <!-- 左边资源 -->
    <div class="span8">
        <div class="background-wall">
            <!-- 标题 -->
            <div class="detail-res-title">
                <p class="caption word-break">{{ res.title }}</p>
            </div>
            <!-- 内容 -->
            <div id="detail-{{ res.id }}" class="text-center detail-res-title">
                {% ifequal  res.type "image" %}
                    <img src="{{ res.content.normal_name|tmp_server_url }}">
                {% else %}
                    <object width="575" height="440">
                        <param value="{{ res.content.url }}" name="movie">
                        <param value="transparent" name="wmode">
                        <param value="auto_start=off" name="FlashVars">
                        <embed width="575" height="440" allowscriptaccess="sameDomain" allownetworking="all"
                               wmode="transparent" allowfullscreen="true"
                               flashVars="auto_start=off"
                               type="application/x-shockwave-flash" src={{ res.content.url }}>
                    </object>
                {% endifequal %}
            </div>
        </div>
        <br>
    </div>
</div>
<br>
<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>

