{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet" media="screen">
</head>

<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <!-- 左边资源list-->
    <div class="span8">
        {% for res in resList %}
            <div class="background-wall clearfix">
                <div class="item-content">
                    <p class="caption word-break">
                        {{ res.title }}
                    </p>
                    <a href="/bops/detail/{{ res.id }}/" class="thumb" style="position:relative"
                       target="_blank">
                        <div style="position:relative;">
                            <img src="{{ res.content.thumbnail_name|tmp_server_url }}">
                            {% ifequal res.type "video" %}
                                <span class="play-icon"></span>
                            {% endifequal %}
                        </div>
                    </a>
                </div>
                <div class="item-footer">
                    <form action="/bops/resource/pass/" method="post" style="margin: 0">
                        <input type="hidden" name="resid" value="{{ res.id }}">
                        <button class="btn btn-success pull-right" type="submit">通过</button>
                    </form>
                    <form action="/bops/resource/reject/" method="post" style="margin: 0">
                        <input type="hidden" name="resid" value="{{ res.id }}">
                        <button class="btn btn-danger" type="submit">拒绝</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        <div id="pagination"></div>
    </div>

</div>
{% include 'footer.htm' %}
<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script type="text/javascript">
    initPaginator({{curPage}}, {{pages}}, "http://127.0.0.1:8000/bops/tag/?page=")
</script>
</body>
</html>
