<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bops/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/bops/css/test.css" rel="stylesheet" media="screen">
	</head>

	<body style="background: #fff;">
		<div  class="container">
			<p class="text-center" style="padding:80px;">
				<img src="/static/bops/img/404.jpg">
				<p> <a href="/index/"> 返回首页</a> </p>
			<p>
		</div>

	</body>
</html>

