<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="/static/sharehp/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/test.css" rel="stylesheet">
</head>
<body>
{% include "header.htm" %}
<div class="container">
    <div class="row">
        <div class="span8">
            <div class="group-wall">
                {% if success %}
                    <div class="alert alert-success">
                        <h5>修改密码成功!</h5>
                    </div>
                {% else %}
                    <div class="form-change-password">
                        <form action="/account/change_password/" method="post">
                            <span class="error">{{ form.non_field_errors }}</span>
                            <span class="error">{{ form.password.errors }}</span>
                            <input id="id_password" name="password" type="password" class="input-block-level"
                                   placeholder="旧密码" value="{{ form.password.value }}">
                            <span class="error">{{ form.new_password.errors }}</span>
                            <input id="id_new_password" name="new_password" type="password" class="input-block-level"
                                   placeholder="新密码" value="{{ form.new_password.value }}">
                            <span class="error">{{ form.confirm_password.errors }}</span>
                            <input id="id_confirm_password" name="confirm_password" type="password"
                                   class="input-block-level"
                                   placeholder="确认新密码" value="{{ form.confrim_password.value }}">
                            <button class="btn input-block-level btn-primary" type="submit">确定</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="span4">
            <div class="group-wall">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="/account/change_avatar/">我的头像</a>
                    </li>
                    <li class="active">
                        <a href="/account/change_password/">修改密码</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
</div>
<script src="/static/sharehp/js/jquery-1.7.1.min.js"></script>
<script src="/static/sharehp/js/bootstrap.min.js"></script>
</body>
</html>