{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不正常人类研究中心</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet" media="screen">
</head>
<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row">
        <!-- 左边资源 -->
        <div class="span8">
            <div class="background-wall">
                <!-- 作者-->
                <div class="detail-res-author">
                    <a href="#"><img class="img-circle" width="36" height="36"
                                     src="{{ res.avatar.mid|static_url }}"></a>
                    <a href="/user/{{ res.user_id }}/" style="padding-left: 5px;">{{ res.nickname }}</a>
                    <span class="create-time" style="padding-left: 3px;">{{ res.create_date }}</span>

                    <div class="nav-res" id="nav-joke">
                        {% if prev %}
                            <a title="上一条" class="nav-res-last inline-block"
                               href="/detail/{{ res.type }}/{{ res.id }}/prev/"><</a>
                        {% else %}
                            <span class="nav-res-prev-disabled inline-block"><</span>
                        {% endif %}

                        {% if next %}
                            <a title="下一条" class="nav-res-next inline-block"
                               href="/detail/{{ res.type }}/{{ res.id }}/next/">下一条</a>
                        {% else %}
                            <span class="nav-res-next-disabled inline-block">下一条</span>
                        {% endif %}
                    </div>
                </div>
                <!-- 标题 -->
                <div class="detail-res-title">
                    <p class="caption word-break">{{ res.title }}</p>
                </div>
                <!-- 内容 -->
                <div id="detail-{{ res.id }}" class="text-center detail-res-title">
                    {% ifequal  res.type "image" %}
                        <img width="{{ res.content.size.0 }}" height="{{ res.content.size.1 }}"
                             src="{{ res.content.url|static_url }}">
                    {% else %}
                        <object width="575" height="440">
                            <param value="{{ res.content.url }}" name="movie">
                            <param value="transparent" name="wmode">
                            <param name="bgcolor" value="#FFFFFF">
                            <embed width="575" height="440" allowscriptaccess="sameDomain" allownetworking="all"
                                   wmode="transparent" allowfullscreen="true"
                                   flashVars="auto_start=off"
                                   type="application/x-shockwave-flash" src="{{ res.content.url }}">
                        </object>
                    {% endifequal %}
                </div>
            </div>
            <br>

            <div class="background-wall">
                <div id="error-msg" class="alert alert-error fade in"
                     style="display: none; padding: 2px 35px 2px 8px; margin-bottom: 12px;">
                </div>
                <div class="control-group clearfix">
                    {% if request.xmanuser.login %}
                        <textarea id="res-comment-content" rows="2" class="btn-block" placeholder="添加评论"></textarea>
                        <button id="submit-res-comment" class="btn btn-primary pull-right" data-loading-text="正在提交"
                                type="button">发布评论
                        </button>
                    {% else %}
                        <textarea id="res-comment-content" rows="2" class="btn-block" readonly="readonly"
                                  placeholder="添加评论"></textarea>
                        <a href="/login/">立即登录</a><span>(登录后才能发表评论)</span>
                        <button id="submit-res-comment" class="btn pull-right" type="button"
                                disabled="disabled">
                            发布评论
                        </button>
                    {% endif %}
                </div>
                <br>

                <div>
                    {% if commentList %}
                        <span style="color: #aaa">共有{{ res.comments }}条评论</span>
                        <ul class="media-list comments-total">
                            {% for comment in commentList %}
                                <li class="media res-comment-item">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle" width="36" height="36"
                                             src="{{ comment.avatar.mid|static_url }}">
                                    </a>

                                    <div class="media-body">
                                        <a href="/user/{{ comment.user_id }}/"
                                           style="font-size:12px;">{{ comment.nickname }}</a>
                                        <span class="create-time"
                                              style="font-size:12px;padding-left: 3px;">{{ comment.create_date }}</span>

                                        <p class="word-break"> {{ comment.content|white_space|linebreaksbr }} </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>还没有人评论哦!</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="span4">
            {% include 'resource_sidebar.htm' %}
        </div>
    </div>
</div>
<br>
{% include 'footer.htm' %}

<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script src="/static/sharehp/js/detail.js"></script>
</body>
</html>

