{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不正常人类研究中心</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet">
    <link href="/static/sharehp/css/jquery.fileupload.css" rel="stylesheet">
</head>
<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row ">
        <div class="span8 ">
            <div class="background-wall">
                <!-- 必须为h4 js依赖 -->
                <h4 id="topic-id-{{ topic.id }}" class="word-break">{{ topic.topic_name }}</h4>
                <ul class="media-list">
                    {% for tc in topicComments %}
                        <li class="media">
                            <div class="media-body">
                                <div class="clearfix"
                                     style="padding:4px; background-color: #f0f6f3; margin-bottom:12px;">
                                    <a class="pull-left" href="#">
                                        <img width="28" height="28" class="img-circle"
                                             src="{{ tc.avatar.small|static_url }}">
                                    </a>

                                    <div class="muted" style="display:inline; line-height: 27px; font-size:12px;">
                                        <a href="/user/{{ tc.user_id }}/"
                                           style="padding-left:6px;">{{ tc.nickname }}</a>
                                        <span style="padding-left:6px;">{{ tc.create_date }}</span>
                                        <span class="pull-right">{{ tc.floor }}L</span>
                                    </div>
                                </div>
                                <p class="word-break">{{ tc.content|white_space|linebreaksbr }}</p>
                                {% if tc.attachment.exsit %}
                                    {% ifequal tc.attachment.type "image" %}
                                        <!-- FIXME hardcode -->
                                        <img width="{{ tc.attachment.size.0 }}" height="{{ tc.attachment.size.1 }}"
                                             src="{{ tc.attachment.url|static_url }}">
                                    {% endifequal %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br>

                <div class="topic-comment clearfix">
                    {% if request.xmanuser.login %}
                        <p class="caption">我来说两句 ...</p>
                        <div id="error-msg" class="alert alert-error fade in"
                             style="display: none; padding: 2px 35px 2px 8px; margin-bottom: 12px;">
                        </div>
                        <div class="control-group">
                            <textarea id="topic-comment-content" rows="6" class="btn-block"></textarea>
                            <span class="btn btn-success fileinput-button btn-small">
                                <i class="icon-picture"></i>
                                <span>图片</span>
                                <input id="fileupload" type="file" name="file" data-url="/api/upload_image/" multiple>
                            </span>

                            <div id="comment-success" class="modal hide fade" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <img src="/static/sharehp/img/404.jpg">
                            </div>
                            <button id="topic-comment-save" class="btn btn-large btn-primary pull-right"
                                    data-loading-text="正在提交" type="button">
                                发布
                            </button>
                        </div>
                        <div id='preview-img-box' class='pull-left' style="position: relative;">
                        </div>
                    {% else %}
                        <a href='/login/'  {{ request.get_full_path }}>立即登录</a>
                        <span>(登录后才能发表评论)</span>
                    {% endif %}
                </div>
            </div>
            <div id="pagination"></div>
        </div>

        <div class="span4">
            {% include 'group_sidebar.htm' %}
        </div>

    </div>
    <br>
    <br>
    <br>
</div>

<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script src="/static/sharehp/js/upload/vendor/jquery.ui.widget.js"></script>
<script src="/static/sharehp/js/upload/jquery.iframe-transport.js"></script>
<script src="/static/sharehp/js/upload/jquery.fileupload.js"></script>
<script src="/static/sharehp/js/group.js"></script>
<script type="text/javascript">
    initPaginator({{curPage}}, {{pages}}, "{{ pageUrl }}")
</script>
</body>
</html>

