{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="/static/sharehp/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/test.css" rel="stylesheet">
</head>
<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row ">
        <div class="span8">
            <div class="group-wall">
                <ul class="breadcrumb clearfix">
                    <!-- FIXME highlight -->
                    <li class="active">
                        最新发布
                        <span class="divider">/<span>
                    </li>
                    <li class="pull-right">
                        <a href="/group/{{ group.id }}/new_topic/">
                            <span class="btn btn-success btn-small ">我要发帖</span>
                        </a>
                    </li>
                </ul>

                {% for topic in topics %}
                    <div class="media topic-sep">
                        <a class="pull-left" href="#">
                            <img class="img-circle" width="36" height="36" src="{{ topic.avatar.40|static_url}}">
                        </a>

                        <div class="media-body">
                            <div class="clearfix">
                                <a href="/user/{{ topic.user_id }}/">{{ topic.nickname }}</a>
                                <span class="create-time"> {{ topic.publish_date }}发布 </span>
                                <span class="pull-right label">{{ topic.comments }} 回复</span>
                            </div>
                            <div class="topic-name">
                                <a href="/group/topic/{{ topic.id }}/"><h4>{{ topic.topic_name }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="pagination"></div>
        </div>

        <div class="span4">
            {% include 'group_sidebar.htm' %}
        </div>
    </div>
</div>
<br>


<script src="/static/sharehp/js/jquery-1.7.1.min.js"></script>
<script src="/static/sharehp/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script type="text/javascript">
    {% ifnotequal curPage "1" %}
        initPaginator({{curPage}}, {{pages}}, "http://127.0.0.1:8000/group/{{ group.id }}/?page=")
    {% endifnotequal %}
</script>

</body>
</html>

