<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不正常人类研究中心</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet">
</head>
<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row ">
        <div class="span8">
            <div class="background-wall clearfix">
                <h4>发布新资源</h4>

                <div id="error-msg" class="alert alert-error fade in"
                     style="display: none; padding: 2px 35px 2px 8px; margin-bottom: 12px;">
                </div>
                <div class="control-group">
                    <textarea id="resource-title" rows="5" class="btn-block" placeholder="资源标题"></textarea>
                    <span id="add-image" class="btn btn-success btn-small fileinput-button">
                        <i class="icon-picture"></i>
                        <span>图片</span>
                        <input id="fileupload" type="file" name="file" data-url="/api/upload_image/" multiple>
                    </span>
                    <span id="add-video" class="btn btn-warning btn-small" style="margin-left: 8px;">
                        <i class="icon-play-circle"></i>
                        <span>视频</span>
                    </span>
                    <button id="submit-new-resource" class="btn btn-large btn-primary pull-right"
                            data-loading-text="正在提交" type="button">发布
                    </button>
                    <img id="submit-loading" style="display:none;padding-top:5px" class="pull-right" src="http://sharehp.qiniudn.com/share/mini_loading.gif">
                </div>

                <!-- 上传资源容器 -->
                <div class="upload-media">
                    <!-- 三角箭头 -->
                    <div class="triangle" id="triangle">
                        <div class="triangle-border tb-background"></div>
                        <div class="triangle-border tb-border"></div>
                    </div>

                    <div class="upload-media-container clearfix">
                        <a href="###" class="close-upload-media" id="btn-file-url-cancel"></a>

                        <div id="url-input-box">
                            <span style="font-size: 12px; padding-bottom: 3px">请输入视频网址 <span id="video-err-msg" style="color: #b94a48;"></span></span>

                            <div class="clearfix">
                                <input id="input-video-url" type="text" style="width: 480px" value="http://"/>
                                <a id="submit-video-url" href="###" class="pull-right btn-url-confirm">确定</a>
                            </div>
                            <span class="highlight">目前只支持56视频的地址</span>
                        </div>
                        <!-- 视频/图片预览 -->
                        <div id='preview-img-box' class='pull-left' style="position: relative;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="background-wall" style="height: 120px;">
                <h5>发布须知</h5>
                <a href="">免责声明</a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script src="/static/sharehp/js/upload/vendor/jquery.ui.widget.js"></script>
<script src="/static/sharehp/js/upload/jquery.iframe-transport.js"></script>
<script src="/static/sharehp/js/upload/jquery.fileupload.js"></script>
<script src="/static/sharehp/js/new_resource.js"></script>

</body>
</html>
