<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>不正常人类研究中心</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet" media="screen">
</head>

<body>
<!-- 导航栏 -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner ">
        <div class="container">
            <ul class="nav  nav-stacked">
                <li><a href="/index/">最新内容</a></li>
                <li><a href="/tag/video/">搞笑视频</a></li>
                <li><a href="/tag/image/">搞笑图片</a></li>
                <li><a href="/groups/">小组</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="jumbotron subhead">
    <div class="container">
        <h2 class="text-center">不正常人类研究中心</h2>
    </div>
</header>

<br>

<div class="container">
    <div class="form-signin-register">
        <form action="{{ register_action_url }}" method="post">
            <div class="form-title">
                <h4>注册帐号</h4>
            </div>
            <span class="error">{{ form.email.errors }}</span>
            <input id="id_email" name="email" type="text" class="input-block-level" placeholder="邮箱"
                   value="{{ form.email.value }}">
            <span class="error">{{ form.nickname.errors }}</span>
            <input id="id_nickname" name="nickname" type="text" class="input-block-level" placeholder="昵称（4-16个中英文字符）"
                   value="{{ form.nickname.value }}">
            <span class="error">{{ form.password.errors }}</span>
            <input id="id_password" name="password" type="password" class="input-block-level" placeholder="密码（6-16位）"
                   value="{{ form.password.value }}">
            <button class="btn input-block-level btn-primary" type="submit">注册</button>
        </form>
        <a href="/login/">已经有帐号？立即登录</a>
    </div>
</div>

<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>

