{% load poll_extras %}
<div class="background-wall clearfix">
    <img class="img-rounded pull-left" style=" width:270px; height:106px" src="http://sharehp.qiniudn.com/weixin.png">
</div>

<div class="background-wall">
    <p style="font-size: 14px; font-weight: bold; padding-bottom: 8px;border-bottom: 1px solid #d7cebe;">小组推荐</p>
    {% for group in groups %}
        <div class="clearfix" style="margin-bottom: 10px">
            <a href="/group/{{ group.id }}/" title="{{ group.group_ori_desc }}">
                <img class="pull-left img-rounded" style="width:60px; height:60px" src="{{ group.avatar.mid|static_url }}">

                <div class="group-desc">
                    <h5 style="color: #4A4A4A;margin: 6px 0;">{{ group.group_name }}</h5>
                    <span style="color: #999;font-size: 12px">{{ group.group_desc }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
    <br>

</div>
