{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/sharehp/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/test.css" rel="stylesheet" media="screen">
</head>

<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row">
        <!-- 左边资源list-->
        <div class="span8">
            {% for res in resList %}
                <div class="group-wall clearfix">
                    <div class="item-author">
                        <a href="#"><img class="img-circle" src="{{ res.avatar.40|static_url }}"></a>
                        <a href="/user/{{ res.user_id }}/" style="padding-left: 5px;">{{ res.nickname }}</a>
                        <span class="create-time" style="padding-left: 3px;">{{ res.create_date }}发布</span>
                    </div>
                    <div class="item-content">
                        <p class="caption">
                            {{ res.title }}
                        </p>

                        <a href="/detail/{{ tag }}/{{ res.id }}/" class="thumb" style="position:relative"
                           target="_blank">
                            <img width="{{ res.thumbnail.size.0 }}" height="{{ res.thumbnail.size.1 }}"
                                 src="{{ res.thumbnail.url|static_url }}">
                            {% ifequal tag "video" %}
                                <span class="play-icon"></span>
                            {% endifequal %}
                        </a>
                    </div>
                    <div class="item-footer">
                        <a class="pull-right btn-icon" href="/detail/{{ tag }}/{{ res.id }}/"
                           target="_blank">评论({{ res.comments }})</a>
                    </div>
                </div>
            {% endfor %}
            <div id="pagination"></div>
        </div>

        <!-- 右边目录-->
        <div class="span4">
            {% include 'resource_sidebar.htm' %}
        </div>
    </div>
</div>
{% include 'footer.htm' %}

<script src="/static/sharehp/js/jquery-1.7.1.min.js"></script>
<script src="/static/sharehp/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script type="text/javascript">
    initPaginator({{curPage}}, {{pages}}, "http://127.0.0.1:8000/tag/{{tag}}/?page=")
</script>
</body>
</html>

