{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>不正常人类研究中心</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/sharehp/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/static/sharehp/css/sharehp.css" rel="stylesheet" media="screen">
</head>

<body>
{% include "header.htm" %}
<!-- 内容区 -->
<div class="container">
    <div class="row">
        <!-- 左边资源list-->
        <div class="span8">
            {% for res in resList %}
                <div class="background-wall clearfix">
                    <div class="item-author">
                        <a href="#"><img style="width: 36px; height: 36px" class="img-circle"
                                         src="{{ res.avatar.mid|static_url }}"></a>
                        <a href="/user/{{ res.user_id }}/" style="padding-left: 5px;">{{ res.nickname }}</a>
                        <span class="create-time" style="padding-left: 3px;">{{ res.create_date }}发布</span>
                    </div>
                    <div class="item-content">
                        <p class="caption word-break">
                            {{ res.title }}
                        </p>

                        <a href="/detail/{{ tag }}/{{ res.id }}/" style="position:relative"
                           target="_blank">
                            <div style="position:relative;">
                                <img style="width: {{ res.thumbnail.size.0 }}px; height: {{ res.thumbnail.size.1 }}px"
                                     src="{{ res.thumbnail.url|static_url }}">
                                {% ifequal tag "video" %}
                                    <span class="play-icon"></span>
                                {% endifequal %}
                            </div>
                        </a>
                    </div>
                    <div class="item-footer">
                        {% include "vote_tool_bar.htm" with res=res %}
                        <a class="pull-right btn-icon" href="/detail/{{ tag }}/{{ res.id }}/"
                           target="_blank"><i class="icon-comment"></i> 评论({{ res.comments }})</a>
                    </div>
                </div>
            {% endfor %}
            <div id="pagination"></div>
        </div>

        <!-- 右边目录-->
        <div class="span4">
            {% include 'resource_sidebar.htm' %}
        </div>
    </div>
</div>
{% include 'footer.htm' %}

<script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/static/sharehp/js/bootstrap-paginator.js"></script>
<script src="/static/sharehp/js/jquery.scrollUp.min.js"></script>
<script src="/static/sharehp/js/common.js"></script>
<script type="text/javascript">
    initPaginator({{curPage}}, {{pages}}, "{{ pageUrl }}")
</script>
</body>
</html>

